body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Room Thin';
  src: url('fonts/RoomThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Greek Regular';
  src: url('fonts/ArialGreekRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mangueiraalt Regular';
  src: url('fonts/Mangueira-regular.otf') format('truetype');
}
@font-face {
  font-family: 'TT Regular';
  src: url('fonts/TTRegular.otf') format('truetype');
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 16em;
}

.menu {
  flex: 1;
  font-family: 'Room Thin', open-sans;
}

.extraMenuLinks {
  display: flex;
  gap: 30px;
  font-family: 'Arial Greek Regular', open-sans;
  font-size: 0.8rem;
}

a:link {
  text-decoration: none;
  color: #dcdcdc;
}
a:visited {
  text-decoration: none;
  color: #dcdcdc;
}

.heroSection {
  overflow: hidden;
  height: 650px;
  position: relative;
}

.heroSection img {
  position: absolute;
  bottom: -200px;
  top: 0;
  width: 100%;
  height: auto;
}

.dialogBox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-140%, -70%);
  background: rgba(21, 59, 94);
  padding: 3em;
  width: 250px;
  height: 300px;
  max-height: 80%;
  overflow-y: auto;
}

.dialogue1 {
  color: #ffffff;
  font-family: 'Mangueiraalt Regular', open-sans;
  line-height: 0rem;
  font-size: 0.8rem;
}
.dialogue2 {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Mangueiraalt Regular', open-sans;
  line-height: 2rem;
  margin-top: 1px;
  margin-bottom: 1px;
}
.dialogue3 {
  font-size: 0.7rem;
  font-style: italic;
  color: #e5d947;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-family: 'Arial', open-sans;
  line-height: 0rem;
}
.box {
  width: 240px;
  height: 40px;
  margin: 0 0 1.5rem 0;
  background: #ffffff;
  padding: 0;
  border: none;
}

.signUp {
  width: 150px;
  height: 40px;
  text-align: center;
  background: #f9dd14;
  font-family: 'Mangueiraalt Regular', open-sans;
  padding: 0;
  border: none;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

.symbols {
  font-family: 'Arial Greek Regular', open-sans;
}

.featureSection {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  align-items: center;
  margin: 7em 15em;
  /* padding-right: 1.5rem; */
}

.featureContent {
  font-size: 11.5px;
  font-family: 'Arial Greek Regular', open-sans;
  color: grey;
  line-height: 20px;
}

.feature-title {
  font-family: 'Mangueiraalt Regular', open-sans;
  line-height: 10px;
}

.highlights {
  background-color: #f4f4f4;
  padding: 8em 6em;
  text-align: center;
}

.quote {
  font-family: 'Mangueiraalt Regular', open-sans;
  margin-bottom: 0rem;
}

.writer {
  font-family: 'Arial Greek Regular', open-sans;
  font-size: 13px;
  margin-top: 0.4rem;
}

.ceo {
  color: grey;
}
.prices {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content at the top */
  padding-top: 3.5rem; /* Adjust padding as needed to create space from the top */
  background-attachment: fixed;
  background-image: url('images/glasses.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(248, 247, 216, 0.7);
  /* row-gap: 0.5px;  */
  text-align: center;
  filter: grayscale(100%);
  font-family: 'Mangueiraalt Regular', open-sans;
}

.prices::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* #D4D4D4 color with 50% opacity */
  z-index: 1;
  pointer-events: none; /* Allows interaction with content beneath the layer */
}

.prices .title {
  font-size: 1.3rem; /* Adjust size as needed */
  margin-bottom: 1px;
  margin: 0;
  z-index: 2; 
  color: black;
}

.prices .sub-title {
  font-size: 0.8rem; /* Adjust size as needed */
  margin: 10px 0 5rem 0;
  z-index: 2; /* Ensure text is above the overlay */
  color: #989898;
}

.plans-row {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  color: black;
}

/* Flexbox items */
.plans-col {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 250px;
  height: 450px;
  overflow: hidden;
  font-family: "TT Regular", open-sans;
}

.plans-col::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px;
  opacity: 0.3;
  background-image: linear-gradient(to top, #dcdcdc 1px, transparent 1px),
    linear-gradient(to right, #dcdcdc 1px, transparent 1px),
    linear-gradient(
      45deg,
      transparent 14px,
      #dcdcdc 14px,
      #dcdcdc 15px,
      transparent 15px
    ),
    linear-gradient(
      315deg,
      transparent 14px,
      #dcdcdc 14px,
      #dcdcdc 15px,
      transparent 15px
    ),
    linear-gradient(
      0deg,
      transparent 11px,
      #dcdcdc 11px,
      #dcdcdc 12px,
      transparent 12px
    ),
    linear-gradient(
      90deg,
      transparent 10px,
      #dcdcdc 10px,
      #dcdcdc 11px,
      transparent 11px
    );
  z-index: 1;
  /* background-repeat: no-repeat; */
  pointer-events: none;
  background-position: center center;
}

.plans-title {
  font-size: 0.9rem;
  margin-top: 40px;
  margin-bottom: 24px;
}

.plans-col p {
  position: relative;
  z-index: 2;
  margin-bottom: 1.5rem;
}

.plans-feature {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #5F5F5F;
}
button {
  position: relative;
  z-index: 2;
}
