body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Room Thin';
  src: url('fonts/RoomThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Greek Regular';
  src: url('fonts/ArialGreekRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mangueiraalt Regular';
  src: url('fonts/Mangueira-regular.otf') format('truetype');
}
@font-face {
  font-family: 'TT Regular';
  src: url('fonts/TTRegular.otf') format('truetype');
}
@font-face {
  font-family: 'TodaySB Light';
  src: url('fonts/TodaySBLight.otf') format('truetype');
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 16em;
}

.menu {
  font-family: 'Room Thin', open-sans;
}

.extraMenuLinks {
  display: flex;
  gap: 30px;
  font-family: 'Arial Greek Regular', open-sans;
  font-size: 0.8rem;
}

a:link {
  text-decoration: none;
  color: #dcdcdc;
}
a:visited {
  text-decoration: none;
  color: #dcdcdc;
}

.heroSection {
  overflow: hidden;
  height: 650px;
  position: relative;
}

.heroSection img {
  width: 100%;
  filter: brightness(75%);
}

.dialogBox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-140%, -70%);
  background: rgba(21, 59, 94);
  padding: 3em;
  width: 250px;
  height: 300px;
}

.dialogue1 {
  color: #ffffff;
  font-family: 'Mangueiraalt Regular', open-sans;
  margin-bottom: 2px;
  font-size: 0.8rem;
}
.dialogue2 {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Mangueiraalt Regular', open-sans;
  line-height: 2rem;
  margin-top: 1px;
  margin-bottom: 0;
}
.dialogue3 {
  font-size: 0.7rem;
  font-style: italic;
  color: #e5d947;
  margin-top: 8px;
  margin-bottom: 1.5rem;
  font-family: 'Arial', open-sans;
}
.box {
  width: 240px;
  height: 40px;
  margin: 0 0 1.5rem 0;
  background: #ffffff;
  border: none;
}

.signUp {
  width: 150px;
  height: 40px;
  background: #f9dd14;
  font-family: 'Mangueiraalt Regular', open-sans;
  padding: 0;
  border: none;
  font-size: 0.6rem;
  letter-spacing: 2px;
}

.symbols {
  font-family: 'TodaySB Light', open-sans;
}

.featureSection {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
  align-items: center;
  margin: 7em 15em;
}

.featureContent {
  font-size: 11.5px;
  font-family: 'Arial Greek Regular', open-sans;
  color: grey;
  line-height: 20px;
}

.feature-title {
  font-family: 'Mangueiraalt Regular', open-sans;
  line-height: 10px;
}

.highlights {
  background-color: #f4f4f4;
  padding: 8em 6em;
  text-align: center;
}

.quote {
  font-family: 'TodaySB Light', open-sans;
  margin-bottom: 0rem;
}

.writer {
  font-family: 'Arial Greek Regular', open-sans;
  font-size: 13px;
  margin-top: 0.4rem;
}

.ceo {
  color: grey;
}

.prices {
  position: relative;
  height: 43.75rem;
  align-items: center;
  padding-top: 3.5rem;
  text-align: center;
  font-family: 'Mangueiraalt Regular', open-sans;
}

.prices::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('images/glasses.png');
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: grayscale(100%);
}

.prices::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}
.prices .title {
  font-size: 1.3rem;
  margin-bottom: 1px;
  margin: 0;
}

.prices .sub-title {
  font-size: 0.8rem;
  margin: 10px 0 80px 0;
  color: #989898;
}

.plans-row {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.plans-col {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 250px;
  height: 435px;
  font-family: 'TT Regular', open-sans;
}

.plans-col::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px;
  opacity: 0.3;
  background-image: linear-gradient(to top, #dcdcdc 1px, transparent 1px),
    linear-gradient(to right, #dcdcdc 1px, transparent 1px),
    linear-gradient(
      45deg,
      transparent 14px,
      #dcdcdc 14px,
      #dcdcdc 15px,
      transparent 15px
    ),
    linear-gradient(
      315deg,
      transparent 14px,
      #dcdcdc 14px,
      #dcdcdc 15px,
      transparent 15px
    ),
    linear-gradient(
      0deg,
      transparent 11px,
      #dcdcdc 11px,
      #dcdcdc 12px,
      transparent 12px
    ),
    linear-gradient(
      90deg,
      transparent 10px,
      #dcdcdc 10px,
      #dcdcdc 11px,
      transparent 11px
    );
  background-position: center center;
}

.plans-title {
  font-size: 0.9rem;
  margin-top: 40px;
}

.plans-col p {
  position: relative;
  z-index: 2;
  margin-bottom: 1.2rem;
}

.plans-feature {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  color: #5f5f5f;
}
.subscription {
  font-family: 'Arial Greek Regular', open-sans;
  font-size: 1.5rem;
  margin-top: 3.3rem;
}
.buy-now {
  margin-top: 0.5rem;
  position: relative;
  z-index: 1;
  width: 120px;
  height: 55px;
  text-align: center;
  background-color: rgba(21, 59, 94);
  font-family: 'Mangueiraalt Regular', open-sans;
  border: none;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: white;
}
.services {
  position: relative;
  height: 430px;
  overflow: hidden;
}
.services-background {
  position: absolute;
}

.services-background img {
  width: 100%;
  margin-top: -250px;
}

.services-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 60, 92, 0.85);
}

.services-quote,
.services-subQuote,
.try {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.services-quote {
  margin-top: 10.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: 'Mangueiraalt Regular', open-sans;
}

.services-subQuote {
  margin-top: 2px;
  padding-bottom: 1rem;
  font-size: 11.5px;
  font-family: 'Arial Greek Regular', open-sans;
}
.try {
  width: 180px;
  height: 45px;
  text-align: center;
  background: #f9dd14;
  font-family: 'Mangueiraalt Regular', open-sans;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: block;
  margin: 20px auto 0 auto;
  line-height: 40px;
  color: black;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #1b232f;
  padding: 17px;
  box-sizing: border-box;
}
.footer-title,
.address {
  color: white;
  text-align: center;
}

.footer-title {
  margin-top: 4.2rem;
  font-size: 0.9rem;
  font-family: 'Mangueiraalt Regular', open-sans;
  margin-bottom: 4px;
}

.address {
  margin-top: 0;
  font-size: 0.65rem;
  color: #b1b1b1;
  font-family: 'Arial Greek Regular', open-sans;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.socials img {
  width: 28px;
}

#about-section,
#services-section,
#project-section {
  height: 30vh;
  font-size: 2rem;
  border-bottom: 1.5px solid black;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
